<form action="{{user.id}}?_method=PUT" enctype="multipart/form-data" method="POST">
  <div class="row justify-content-center">
    <div class="col-md-10 border row">
      <div class="col-6">
        <img src="/upload/{{user.image}}" alt="" class="col-12">
      </div>
      <li class="list-unstyled">
        <ul>Name:<input type="text" name="name" value="{{user.name}}" class="form-control"></ul>
        <ul>Image: <input type="file" name="image"></ul>
        <ul><button type="submit" class="btn btn-primary">Submit</button></ul>
      </li>
    </div>
  </div>
</form>